streamlit==1.54.0
streamlit_elements
dotenv
pandas==3.0.0
numpy==2.4.2
openpyxl==3.1.5
transformers==5.0.0
torch==2.10.0
langchain==0.3.2
langchain-core==0.3.8
langchain-community==0.3.2
langchain-openai==0.2.4
faiss-cpu==1.8.0
pypdf2==3.0.1
pillow==10.4.0
python-dotenv==1.0.1
dashscope==1.19.0
langchain_text_splitters